// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}
